:root {
  --peach-light: #FFE5D0;
  --coral: #F4A261;
  --orange-soft: #E76F51;
  --brown-light: #8D5524;
  --white: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--peach-light);
  color: var(--brown-light);
  font-family: 'Nunito', sans-serif;
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}
.logo {
  
  height: 10rem;
  margin-right: 10rem;
}

a:hover {
  color: var(--orange-soft);
}

header {
  background: #F4A261;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: var(--peach-light);
  margin-top: 2rem;
}

button {
  background-color: var(--coral);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--orange-soft);
}