.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .buttonAddProduct {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
  }
  .titulo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--brown-light, #8D5524);
    margin-bottom: 0.5rem;
  text-align: center;
  }
  
  .descripcion {
    font-size: 1rem;
    color: var(--brown-light, #8D5524);
    margin-bottom: 1.5rem;
    text-align: center;
  }